form {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  background: rgba(30, 0, 50, 0.8);
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 0 15px #6b00b5;
}

label {
  font-weight: 600;
  color: #e0c2ff;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #b24cff;
}

button {
  background: linear-gradient(90deg, #6a00b5, #b24cff);
  color: #fff;
  padding: 10px 25px;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  width: 100%;
}

button:hover {
  background: linear-gradient(90deg, #b24cff, #6a00b5);
  box-shadow: 0 0 15px #b24cff;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}
#popup-container {
  display: none;
  position: fixed;
  top: 90px;
  right: 20px;
  color: #fff;
  padding: 15px 25px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.3s ease;
}

#popup-container.show {
  display: block;
  opacity: 1;
}
#popup-container.sucesso {
  background-color: #4caf50; /* verde */
}

#popup-container.erro {
  background-color: #f44336; /* vermelho */
}
